button {
     cursor: pointer;
     font-family: inherit;
     font-weight: bold;
     font-size: 15px;
     text-transform: uppercase;
     background-color: #FFAB00;
     color:white;
     border: 0px;
     border-radius: 5px;
     height: 40px;
     margin-left: 10px;
     animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
button:hover {
     background-color: #0D5257;
     color: white;
   }
#create-match {
  margin-left: 300px;
}